# A feladat kérte, hogy használjunk .gitignore-t, ezért betettem. Ami egyébként felesleges, mert a projekt gyökerében a log fájlok már ki vannak zárva a verziókezelésből.
*.log

# A tasks.json-t nem küldöm be, a feladat ezt csak a txt-nél kérte. Ha nem létezik, úgyis létrehozom.
tasks.json